### Name: Aniruddha
### Regd No: 22237
### Date: 5/04/2023
### R-Lab: Work on Tibble and Tidyverse
### Assignment 7

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.2.0
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Load the mtcars dataset
data("mtcars")

In [5]:
# Create a tibble from the mtcars dataset
mtcars_tbl <- as_tibble(mtcars)
head(mtcars_tbl)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [6]:
# Display the structure of the dataset
str(mtcars_tbl)

tibble [32 × 11] (S3: tbl_df/tbl/data.frame)
 $ mpg : num [1:32] 21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num [1:32] 6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num [1:32] 160 160 108 258 360 ...
 $ hp  : num [1:32] 110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num [1:32] 3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num [1:32] 2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num [1:32] 16.5 17 18.6 19.4 17 ...
 $ vs  : num [1:32] 0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num [1:32] 1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num [1:32] 4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num [1:32] 4 4 1 1 2 1 4 2 2 4 ...

In [7]:
# Display the column names of the dataset
colnames(mtcars_tbl)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [8]:
# Display the dimensions of the dataset
dim(mtcars_tbl)

[1] 32 11

In [11]:
# Add a new column to the dataset that calculates the ratio of horsepower to weight
mtcars_ratio <- mutate(mtcars_tbl, hp_to_wt = hp / wt)
head(mtcars_ratio)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb hp_to_wt
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    41.98473
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    38.26087
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    40.08621
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.21462
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    50.87209
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    30.34682

In [13]:
# Sort the dataset by mpg in descending order
mtcars_sorted <- arrange(mtcars_tbl, desc(mpg))
head(mtcars_sorted)

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
3 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
4 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
5 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
6 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

In [14]:
# Add a new column to the dataset that indicates whether a car has a high or low mpg value (with 20 mpg as the cutoff)
mtcars_high_mpg <- mutate(mtcars_tbl, mpg_cat = ifelse(mpg > 20, "high", "low"))
head(mtcars_high_mpg)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb mpg_cat
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    high
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    high
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    high
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    high
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    low
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    low

In [17]:
# Group the dataset by the number of cylinders and display the average mpg for each group
mtcars_cyl_mpg <- group_by(mtcars_tbl, cyl) %>%
  summarize(avg_mpg = mean(mpg))
mtcars_cyl_mpg

  cyl avg_mpg
1 4   26.66364
2 6   19.74286
3 8   15.10000

In [18]:
# Summarize the dataset to display the average values for each column
mtcars_summary <- summarize(mtcars_tbl, across(everything(), mean))
mtcars_summary

  mpg      cyl    disp     hp       drat     wt      qsec     vs     am
1 20.09062 6.1875 230.7219 146.6875 3.596563 3.21725 17.84875 0.4375 0.40625
  gear   carb
1 3.6875 2.8125

## Create a tibble

In [19]:
T <- tibble(
    x = 1.5,
    y=1,
    z=x*y
)

In [20]:
T

  x   y z
1 1.5 1 1.5

In [25]:
a <- 1:10

In [26]:
tibble(a,b=a**2,c=2)

   a  b   c
1   1   1 2
2   2   4 2
3   3   9 2
4   4  16 2
5   5  25 2
6   6  36 2
7   7  49 2
8   8  64 2
9   9  81 2
10 10 100 2

### Creating a tibble row-by-row using tribble

In [28]:
tribble(
    ~x, ~y, ~z,
    "a",2,3,
    'b',1,8
)

  x y z
1 a 2 3
2 b 1 8

### tibble with a list

In [30]:
ltibble <- tibble(x = 1:3,y = list(1:2, 1:13, 2:4))
ltibble

  x y
1 1 1, 2
2 2 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13
3 3 2, 3, 4